
  .contentAceptarReceta {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    background-color: cadetblue;
  }
  .table{
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center'
  }
  .PanelSuperior{
    display: flex;
    gap: 10px;
    align-items: center;    
  }
  .title{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
  .table.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .pacienteMedicoTables{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
  }
  .medicamentoTable{
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .medicamentoTable .MuiTableCell-head, .pacienteMedicoTables .MuiTableCell-head {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    column-span: all ;
  }