/* Home.css */

 .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    width: 100vw;
    height: 100vh;

  }
  
  .header {
    width: 100vw;
    height: 100vh;
  }
  
  .menu {
    width: 100vw;
  }
  
  .content {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    width: 100vw;
    height: 100vh;
  }
