.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    background-color: brown;
  }