/* Login.css */

 .login-container {
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;

  }
.login-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form label {
    margin-bottom: 0.5rem;
}

.form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form button:hover {
    background-color: #0056b3;
}

