/* Estilos para el cuerpo de la aplicación */


/* Estilos para el contenedor principal  */
#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

/*.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh; /* Cambiado a 100vh para ocupar la altura completa de la ventana 
  width: 100vw;  /* Cambiado a 100vw para ocupar la anchura completa de la ventana 
  margin: 0;
  padding: 0;  Asegura que no haya márgenes o relleno que interfieran 
}*/

/* Estilos para el formulario de login */
form {
  width: 300px;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
  /*margin: 0 auto; /* Centra el contenido horizontalmente */  
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}